/*--------------------------------------------------------------------------------------------------------------------*/
/* width */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background-color: white; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0A3B3B;
  border-radius: 4px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFC654; }

/*--------------------------------------------------------------------------------------------------------------------*/
/* Main Style */
.font-primary {
  color: #0A3B3B; }

.font-accent {
  color: #FFC654; }

.font-warn {
  color: #d81b60; }

html, body {
  position: relative;
  height: 100%;
  outline: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  text-align: start;
  line-height: 1.7;
  color: #37474f;
  scroll-behavior: smooth; }

*::-moz-selection {
  background-color: #0A3B3B;
  color: white; }

*::selection {
  background-color: #0A3B3B;
  color: white; }

*:focus {
  outline: none; }

button:focus {
  outline: 0; }

.section_padding {
  padding: 60px 0; }

a {
  color: #37474f; }

h1, h2, h3, h4, h5, h6, p, label, strong, input, a, button, span {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, label, strong, a, span {
  word-break: break-word; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, strong {
  color: #0A3B3B; }

/*--------------------------------------------------------------------------------------------------------------------*/
nav {
  position: absolute !important;
  top: 20px;
  right: 20px;
  left: 20px;
  margin: auto;
  z-index: 1020;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0 !important;
  display: block !important;
  /* Media Queries for RTL - LTR */ }
  nav .nav__topnav {
    padding: 8px 50px;
    margin: 0;
    background-color: #0A3B3B;
    display: flex;
    align-items: center;
    width: 100%; }
    nav .nav__topnav li {
      list-style: none;
      -webkit-margin-end: 25px;
              margin-inline-end: 25px; }
      nav .nav__topnav li a {
        color: white;
        font-size: 20px;
        transition: color 0.3s; }
    nav .nav__topnav li a:hover {
      color: #FFC654; }
    nav .nav__topnav .nav__mail {
      -webkit-margin-start: auto;
              margin-inline-start: auto;
      -webkit-margin-end: 0;
              margin-inline-end: 0;
      text-align: end; }
      nav .nav__topnav .nav__mail a {
        text-decoration: none; }
  nav .nav__inner_container {
    padding: 5px 50px; }
  nav .header__logo {
    width: 122px;
    height: 70px;
    -o-object-fit: contain;
       object-fit: contain; }
  nav .nav-link {
    font-size: 20px;
    color: #0A3B3B;
    -webkit-margin-start: 30px;
            margin-inline-start: 30px;
    transition: color 0.5s; }
  nav .nav-link:hover {
    color: #FFC654; }
  nav .active {
    color: #0A3B3B; }
  nav .nav__contactus {
    background-color: #0A3B3B;
    color: white; }
  nav .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0; }
    nav .menu svg {
      width: 100px;
      height: 100px; }
  nav .line {
    fill: none;
    stroke: #0A3B3B;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }
  nav .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6; }
  nav .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6; }
  nav .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6; }
  nav .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6; }
  nav .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6; }
  nav .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6; }
  @media only screen and (max-width: 1024px) {
    nav .menu {
      display: flex; }
      nav .menu svg {
        width: 65px;
        height: 65px; }
    nav .nav-link {
      text-align: center; } }
  @media only screen and (max-width: 767px) {
    nav {
      right: 12px;
      left: 12px; }
      nav .header__logo {
        width: 90px;
        height: auto; }
      nav .nav-link {
        -webkit-margin-start: 0;
                margin-inline-start: 0;
        font-size: 16px; }
      nav .menu svg {
        width: 50px;
        height: 50px; }
      nav .nav__topnav {
        padding: 8px 12px; }
        nav .nav__topnav li {
          -webkit-margin-end: 12px;
                  margin-inline-end: 12px; }
          nav .nav__topnav li a {
            font-size: 16px; }
      nav .nav__inner_container {
        padding: 5px 12px; } }

.scrolled_nav {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  transition: all 0.3s; }
  .scrolled_nav .nav__topnav {
    display: none; }
  .scrolled_nav .nav-link {
    color: #0A3B3B; }
  .scrolled_nav .nav-link:hover {
    color: #FFC654; }
  .scrolled_nav .nav__contactus {
    color: white; }
  .scrolled_nav .active {
    color: #FFC654; }

/*--------------------------------------------------------------------------------------------------------------------*/
header {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* Media Queries for RTL - LTR */ }
  header .owl-carousel {
    width: 100%;
    height: 100%; }
  header .header__carousel_item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; }
    header .header__carousel_item .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #FFC654;
      opacity: 0.1;
      z-index: 1; }
    header .header__carousel_item .header__carousel_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      z-index: 2; }
      header .header__carousel_item .header__carousel_text h3 {
        text-shadow: 7px 5px 6px black;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
        background-color: #0A3B3B;
        color: white;
        border-radius: 25px;
        padding: 6px 25px;
        font-size: 20px; }
      header .header__carousel_item .header__carousel_text h1 {
        text-align: center;
        color: white;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 48px;
        text-shadow: 7px 5px 6px black; }
    header .header__carousel_item img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  header .owl-theme .owl-dots .owl-dot {
    margin-bottom: 5px; }
  header .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    border-radius: unset; }
  header .owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    right: 10px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  header .owl-theme .owl-dots .owl-dot.active span {
    background: #FFC654; }
  header .owl-theme .owl-nav.disabled + .owl-dots {
    margin: 0; }
  @media only screen and (max-width: 767px) {
    header .header__carousel_item .header__carousel_text h1 {
      font-size: 24px; } }

/*--------------------------------------------------------------------------------------------------------------------*/
.aboutus__container {
  margin: 120px 0 60px 0;
  /* Media Queries for RTL - LTR */ }
  .aboutus__container .aboutus {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 15px; }
  .aboutus__container .aboutus__img {
    width: 100%;
    min-height: 400px;
    -o-object-fit: cover;
       object-fit: cover; }
  .aboutus__container .aboutus__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../assets/images/header__bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    filter: opacity(0.3);
    z-index: -1; }
  .aboutus__container .aboutus__data {
    width: 100%;
    min-height: 400px;
    position: relative;
    padding: 50px; }
    .aboutus__container .aboutus__data h3 {
      text-align: center;
      font-weight: 400;
      font-size: 58px;
      line-height: 0.8; }
    .aboutus__container .aboutus__data p {
      margin-top: 40px; }
      .aboutus__container .aboutus__data p span {
        display: block;
        margin-top: 10px; }
  .aboutus__container .aboutus__download {
    border: 2px solid #0A3B3B;
    border-radius: 0;
    color: #0A3B3B;
    padding: 12px 28px;
    margin-top: 30px;
    transition: color 0.3s, border 0.3s; }
    .aboutus__container .aboutus__download svg {
      -webkit-margin-start: 10px;
              margin-inline-start: 10px; }
  .aboutus__container .aboutus__download:hover {
    color: #FFC654;
    border: 2px solid #FFC654; }
  @media only screen and (max-width: 1024px) {
    .aboutus__container .aboutus__data p {
      text-align: center; } }
  @media only screen and (max-width: 767px) {
    .aboutus__container {
      margin: 30px 0; }
      .aboutus__container .aboutus__data {
        padding: 15px; }
        .aboutus__container .aboutus__data h3 {
          font-size: 30px;
          line-height: 0.8; }
        .aboutus__container .aboutus__data p {
          margin-top: 25px; } }

/*--------------------------------------------------------------------------------------------------------------------*/
.projects {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* Media Queries for RTL - LTR */ }
  .projects h1, .projects h2, .projects h3, .projects h4, .projects h5, .projects h6 {
    font-size: 20px;
    margin-top: 25px; }
  .projects .projects__img {
    padding: 15px; }
    .projects .projects__img img {
      width: 100%;
      min-height: 400px;
      -o-object-fit: contain;
         object-fit: contain; }
  .projects .projects__title {
    color: #FFC654;
    text-align: center;
    margin: 30px 0;
    font-weight: 100;
    font-size: 42px; }
  .projects .project_imgs {
    height: 620px;
    margin-bottom: 24px;
    transition: transform 0.5s; }
    .projects .project_imgs img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      cursor: pointer; }
  .projects .project_imgs:hover {
    transform: scale(1.05); }
  .projects .project_imgs:nth-child(2) {
    height: 480px; }
  .projects .project_imgs:nth-child(3n+5) {
    margin-top: -140px; }
  .projects .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 4px; }
  .projects .owl-theme .owl-dots {
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }
  .projects .owl-theme .owl-dots .owl-dot.active span {
    background: #0A3B3B; }
  @media only screen and (max-width: 1024px) {
    .projects .project_imgs:nth-child(2) {
      height: unset; }
    .projects .project_imgs:nth-child(3n+5) {
      margin-top: unset; }
    .projects .project_imgs {
      height: 580px; } }
  @media only screen and (max-width: 767px) {
    .projects .project_imgs {
      height: unset; } }

/*--------------------------------------------------------------------------------------------------------------------*/
.facilities {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-image: url("../assets/images/00.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
  /* Media Queries for RTL - LTR */ }
  .facilities .facilities__elements {
    margin-top: 30px; }
    .facilities .facilities__elements .facilities_element {
      text-align: center;
      -webkit-backdrop-filter: blur(13.8px);
              backdrop-filter: blur(13.8px);
      border: solid 1px #0a3b3b;
      background-color: rgba(255, 255, 255, 0.4);
      padding: 15px;
      height: 100%; }
      .facilities .facilities__elements .facilities_element img {
        width: auto;
        height: 75px;
        -o-object-fit: contain;
           object-fit: contain; }
      .facilities .facilities__elements .facilities_element p {
        text-align: center;
        font-size: 18px;
        margin-top: 10px; }
  @media only screen and (max-width: 1024px) {
    .facilities {
      background-size: cover; } }
  @media only screen and (max-width: 767px) {
    .facilities {
      margin-bottom: 30px; } }

/*--------------------------------------------------------------------------------------------------------------------*/
.contactus {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* Media Queries for RTL - LTR */ }
  .contactus .contactus__info_container {
    margin: 60px 0; }
  .contactus .contactus__info {
    text-align: center; }
    .contactus .contactus__info img {
      width: 80px;
      height: 80px;
      -o-object-fit: contain;
         object-fit: contain;
      margin-bottom: 10px; }
    .contactus .contactus__info h3 {
      color: #ffc654;
      font-weight: 400;
      margin-bottom: 10px; }
    .contactus .contactus__info a {
      font-size: 22px;
      font-weight: 100 !important;
      color: #313131;
      text-decoration: none;
      transition: color 0.3s;
      display: block; }
    .contactus .contactus__info a:hover {
      color: #0A3B3B; }
  .contactus .contactus__social {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contactus .contactus__social img {
      width: 231px;
      height: 133px;
      -o-object-fit: contain;
         object-fit: contain; }
    .contactus .contactus__social ul {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      display: flex;
      list-style: none;
      margin-bottom: 0; }
      .contactus .contactus__social ul li {
        -webkit-margin-start: 15px;
                margin-inline-start: 15px; }
        .contactus .contactus__social ul li svg {
          font-size: 36px;
          color: #0A3B3B;
          height: 100%;
          transition: color 0.3s; }
        .contactus .contactus__social ul li svg:hover {
          color: #FFC654; }
  .contactus .contactus__rights {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold !important;
    color: #0A3B3B; }
  @media only screen and (max-width: 767px) {
    .contactus .contactus__info img {
      width: 65px;
      height: 65px; }
    .contactus .contactus__info p {
      font-size: 16px; }
    .contactus .contactus__social img {
      width: 150px;
      height: auto; }
    .contactus .contactus__social ul li {
      -webkit-margin-start: 10px;
              margin-inline-start: 10px; }
      .contactus .contactus__social ul li svg {
        font-size: 26px; }
    .contactus .contactus__rights {
      font-size: 16px;
      font-weight: 500 !important; } }

/*--------------------------------------------------------------------------------------------------------------------*/
.section_title {
  text-align: center !important;
  font-weight: 100 !important;
  font-size: 58px !important; }

p {
  font-weight: 500 !important; }

#back2Top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  padding: 10px 15px;
  opacity: 0.7;
  background-color: #0A3B3B;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.3s ease-out;
  display: none;
  overflow: hidden; }

#back2Top:hover {
  opacity: 1; }

/*--------------------------------------------------------------------------------------------------------------------*/
/* Media Queries for RTL - LTR */
@media only screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    height: 3px; }
  .section_padding {
    padding: 30px 0; }
  .section_title {
    font-size: 38px !important; } }
